 [Unit]
Description=AIS.NET Receiver Service
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/aisr
ExecStart=/home/pi/.dotnet/dotnet Ais.Net.Receiver.Host.Console.dll
Restart=always
RestartSec=5s
SyslogIdentifier=aisr
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=DOTNET_NOLOGO=true

[Install]
WantedBy=multi-user.target